.personal-details-page
    
    &__field
        
        &--street-name
            flex 2
        
        &--street-number
            flex 1
        
        &--zip-code
            flex 1

        &--city
            flex 2
            
