.personal-details-page
    
    &__field
        
        &--street-name
            flex 2
        
        &--street-number
            flex 1
        
        &--zip-code
            flex 1

        &--city
            flex 2
            
        &--degree
            margin-top 0.5rem
            margin-bottom 2rem
            
