.md-button-wrapper
    color #fff

.flex1
    flex 1
    margin 16px 0
.form
    
    &__section-header
        font-size 1.25rem
        font-weight 300
        margin 0.5rem 0

    &__row
        display flex
        flex-direction row

    &__field
        flex 1
        
md2-datepicker.form__field
    max-width 100%