.page
app-personal-details-page
app-additional-info-page
    display block
    padding 1rem
    
    &__header
        font-size 1.5rem
        font-weight 300
        margin 0
        margin-bottom 1rem

    [md-fab]
        position fixed
        bottom 1rem
        right 1rem