app-monster-bar
    background-color #EAEAEA

.responsive
    width 80%
    margin-left auto
    margin-right auto
    display block

.kelly-center
    margin-left auto
    margin-right auto
    width 200px
    margin-top 120px
    display block

.less-margin
    margin-top 56px


.logo-center 
    padding-top 300px
    max-width 100% !important
    height auto
    display block


h3
    color #546e7a
    font-weight 200

.page
app-personal-details-page
app-individualize-coverage-page
app-additional-info-page
    display block
    padding 1rem
    
    &__header
        font-size 1.5rem
        font-weight 300
        margin 0
        margin-bottom 1rem

    [md-fab]
        position fixed
        z-index 100
        bottom 1rem
        right 1rem
        
app-individualize-coverage-page
app-additional-info-page
    padding-bottom 7rem
    
    [md-fab]
        bottom 4.5rem