<div style="text-align: center;">
	<img class="af-center" src="assets/images/afmock.png" />
	
	<div class="policy-card__header-row">
		<md-checkbox class="policy-card__checkbox" #allowData color="primary">
		</md-checkbox>
		<div class="policy-card__policy-name">Allow Jobster to share my information with instasure</div>
		
	</div>
	<div style="padding-top: 10px;">
		<button [routerLink]="['/personal-details']" md-raised-button color="accent" [disabled]="!allowData.checked">Continue on instasure</button>
	</div>
</div>