	<div style="text-align: center;">
	<a [routerLink]="['/personal-details']"><img class="less-margin kelly-center less-margin" src="assets/images/kelly-1024.png" /></a>
	<h1>Kelly Weybull (27)</h1>
	<h3>Applying for great jobs ... </h3>
	<p>
	<img  class="responsive  slideExpandUp" src="assets/images/info-mock.png"/>
	</p>
	<p>
	<img  class="responsive  slideExpandUp" src="assets/images/info-mock.png"/>
	</p>
	<p>
	<img  class="responsive  slideExpandUp" src="assets/images/info-mock.png"/>
	</p>
	<p>
	<img class="responsive  slideExpandUp" src="assets/images/info-mock.png"/>
	</p>
	
	</div>

