@import '../../../assets/styles/_common'


            
.policy-card
    &__header-row
        text-align left
        background-color #E2EFFF
        display flex
        flex-direction row
        padding 1rem
        
    &__additional-content
        display none
        padding 1rem
        padding-top 0
    
    &__checkbox
        margin-right 0.5rem


    &__policy-name
        flex 1
        font-size 1.125rem