@import '../../../assets/styles/_common'

.complete-checkout-page
    
    &__review-box
        border-radius 0.25rem
        background color-background-darker
        padding 1rem
        margin-bottom 1rem
        
    &__review-premium-label
        text-align center
        font-size 0.875rem
        font-weight 300
        color color-primary
        margin-bottom 0.5rem
        
    &__review-premium
        text-align center
        font-size 2rem
        font-weight bold
        
    &__review-summary-header
        text-align center
        font-weight 300
        font-size 1.25rem
        
    &__review-summary-policy
        margin-bottom 0.25rem