<h1 class="page__header">Individualize Your Coverage</h1>

<form class="form" (ngSubmit)="onSubmit()">
    <h2 class="form__section-header">Level of Protection</h2>
    <div class="form__row">
        <md-slider [(ngModel)]="coverage" name="coverage" class="form__field" min="1" max="4" step="1" tick-interval="1"></md-slider>
    </div>
    <h2 class="form__section-header">Included Policies</h2>

    <div *ngFor="let policy of policies">
        <app-policy-card class="individualize-coverage-page__policy-card" [policyName]="policy.name" [description]="policy.description" [insuranceCoverage]="policy.insuranceCoverage" [selected]="policy.selected" (onSelectionChanged)="onPolicySelectionChanged(policy, $event)"></app-policy-card>
    </div>

    <button md-fab type="submit" [disabled]="!isValid()" >
        <md-icon class="md-24">keyboard_arrow_right</md-icon>
    </button>
</form>

<app-individualize-coverage-bottom-sheet
    [estimatedPremium]="getEstimatedPremium()"
    [isEstimating]="getEstimationStatus()">
    
</app-individualize-coverage-bottom-sheet>