@import '../../../assets/styles/_common'

:host
    font-weight bold
    color color-accent
    bottom-sheet()
    height 6rem
    padding 1rem 2rem
    
.individualize-coverage-bottom-sheet
    
    &__estimated-premium-label
        font-size 0.875rem
        font-weight 300
        color color-highlight-bright
        
    &__estimated-premium-value
        font-size 2rem
        font-weight bold
