/* Colors */

color-primary = #546e7a
color-highlight = #00e5ff
color-highlight-bright = #18FFFF

color-accent = #ff1744

color-text = #211a1d
color-background = #fffbfa

/* Mixins */

bottom-sheet()
    position fixed
    bottom 0
    left 0
    right 0
    z-index 10
    background color-primary
    color color-background